{% extends "layout.html" %}

{% block title %}
    Transictions History
{% endblock %}

{% block main %}
    <h2>Your Transactions</h2>
    <table >
        <thead>
            <tr>
                <th style="padding-left: 150px; text-align: left;"><strong>Symbol</strong></th>
                <th style="padding-left: 150px; text-align: left;"><strong>Share</strong></th>
                <th style="padding-left: 150px; text-align: left;"><strong>Price</strong></th>
                <th style="padding-left: 150px; text-align: left;"><strong>Total</strong></th>
                <th style="padding-left: 150px; text-align: left;"><strong>Action</strong></th>
                <th style="padding-left: 150px; text-align: left;"><strong>Time</strong></th>

            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td style="padding-left: 150px; text-align: left;">{{ record.symbol }}</td>
                    <td style="padding-left: 150px; text-align: left;">{{ record.shares }}</td>
                    <td style="padding-left: 150px; text-align: left;">{{ usd(record.price) }}</td>
                    <td style="padding-left: 150px; text-align: left;">{{ usd(record.total) }}</td>
                    <td style="padding-left: 150px; text-align: left;">{{ record.action }}</td>
                    <td style="padding-left: 150px; text-align: left;">{{ record.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

